{% extends 'main/base.html' %}
{% load static %}

{% block title %}
My Baby Book
{% endblock %}

{% block content %}


    <h1>My BabyBook</h1>
    <h4>To add an entry go to <a href="{% url 'add_entry'%}">Post</a></h4>

    {% for entry in object_list %}
        {% if user == entry.user %}
            <hr>
            <div class="main_content">
                <h2>{{entry.title}}</h2>
                <small>{{entry.post_date}}</small>
                <small><a href="{% url 'edit_entry' entry.pk %}">(Edit Post)</a> </small>
                <small><a href="{% url 'delete_entry' entry.pk %}">(Delete Post)</a> </small>
            </div>
            {% if entry.main_image %}
                <div class="image_text_wrapper">
                    <div class="image_wrapper scroll-appear">
                        <img src="{{entry.main_image.url}}">
                        <div class="image_caption">
                            {% if entry.image_caption %}
                                {{entry.image_caption}}
                            {% else %}
                                <p></p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="entry_wrapper">
                        {{entry.entry|safe}}
                    </div>
                </div>

            {% else %}
                <div class="entry_wrapper">
                    {{entry.entry|safe}}
                </div>
            {% endif %}
        
            <div style="clear:both"></div>

        {% endif %}

    {% endfor %}

{% endblock %}